#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .envelope {
    border-radius: 5px;
    width: 500px;
    border: 1px solid #dddddd;
    margin: 20px auto;
    padding: 30px;

    .clear {
      clear: both;
    }

    .envelope-header {
      color: rgba(54, 54, 54, 0.67);
      position: relative;
      .envelope-icon {
        float: left;
        margin-right: 20px;
        top: 0;
      }

      .envelope-title {
        padding-top: 10px;

        h1 {
          line-height: 40px;
        }
      }
    }

    .envelope-form {
      .form-input {
        position: relative;
        margin: 6px 0;

        .fa {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          padding: 6px 6px;;
          line-height: 1.42857143;
        }

        input {
          display: block;
          width: 100%;
          padding: 6px 12px 6px 25px;
          margin: 0 auto;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
      }

      button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
      }

      button:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}
